body {

    background-color: rgb(164, 128, 81);
    margin: 0;
}
.navv {
    display: flex;
    height: 80px;
    background-color: rgb(19, 73, 55);
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-between;
    align-items: center;
}


#nn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.soldes-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 48px;
}
#bg-brown{
    background-color:rgb(154, 127, 86);
}
.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 2em;
    h3{    
        margin: 0;
        color: antiquewhite;
    }
}
.jzz {
    background-color: rgb(14, 72, 15);
    align-items: flex-start;
    margin: 4px;
    padding: 40px;
    justify-content: center;
    width: 600px;
    height: 40px;

}

.list {
    display: flex;
    column-width: 4px;
    justify-content: space-between;
    align-items: self-end;

}



img {

    width: 200px;
    height: 200px;
    justify-content: space-around;
    margin: 4px;
    border: #0a0909;
    border-radius: 4px;


}

.soldes {

    height: 100px;
    width: 100px;
    background-color: #333;
}

#soldesss {

    border-radius: 2px;
    background-color: rgb(58, 58, 69);
    border-radius: 4px 4px 4px 4px;
}

.ss {
    display: flex;
    background-color: #245732;

}

#abonner {
    display: flex;
    justify-content: left;
    margin: 100px;
    border-color: bisque;



}

#contact {
    display: flex;
    justify-content: right;
    margin: 100px;
    border-color: antiquewhite;

}

.rs {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: right;
    align-items: end;


}

.container {

    display: flex;
    justify-content: space-between;

}

#ii {

    display: flex;
    grid-column-end: 5px;

}